* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Add a gray background color with some padding */
body {
  font-family: Calibri;
  font-size: 15.4px;
  background: #F5F5F5;
  width: 800px;
  margin: auto;
  color: #222222;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

p {
  line-height: 23px;
  margin-bottom: 10px;
}

/* Header/Blog Title */
.header {
  width: 100%;
  padding-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  grid-column: 1 / 4;
}

hr {
  width: 470px;
  margin: auto;
  margin-top: 30px;
  border: none;
  height: 1px;
  color: black;
  background-color: black;
}

.header h1 {
  font-size: 40px;
}

.header i {
  font-size: 18px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.section {
  width: 500px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 0px;
  grid-column: 2;
}

/* Navigation bar */
.navbar {   
  width: 100%;
  padding-top: 30px;
  text-align: right;
}


.navbar li a {
  display: block;
  color: #222222;
  padding-bottom: 5px;
  text-decoration: none;
}

/* Change the link color on hover */
.navbar li a:hover {
  color: #d3869b;
}

/* Footer */
.footer {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 80px;
  grid-column: 1 / 4;
}

.entry {
  padding-bottom: 60px;
}

.entry:last-child{
  padding-bottom: 0;
}

.entry .title {
  font-size: 1.5em;
  font-weight: bold;
}

.entry .date {
  font-size: 1em;
  font-style: italic;
  text-align: left;

  color: #d3869b;
}
.entry .tag {
  color: #222222;
  text-decoration: none;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  body{

    width: 100%;
  }
  #main {
    display: block;
  }
  .rightcolumn{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .section{
    width: 100%;
    margin: auto;
  }
  .navbar {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
  }
  .navbar li{
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.17em;   
    padding-bottom: 20px;
  }

  hr {
    width: 90%;
  }
}
